{% extends "blogs/base.html" %}

{% block page_header %}
    <h2 style="color: #2c3e50;">{{ blog.title }}</h2>
{% endblock page_header %}

{% block content %}
    <p><strong>Author:</strong> {{ blog.author }}</p>
    <p class="lead">{{ blog.content }}</p>
    <p><em>Created on:</em> {{ blog.date_created }}</p>
    <p><em>Upated on:</em> {{ blog.date_update }}</p>

    <div style="margin-top: 20px;">
        <a href="{% url 'blog-update' blog.id %}" class="btn btn-warning me-2">✏️ Edit</a>
        <a href="{% url 'blog-delete' blog.id %}" class="btn btn-danger">🗑️ Delete</a>
    </div>
{% endblock content %}
